<body>
<large>
<br><b>Padstack:</b> <body>
<large>
<br><b>Software Version:</b>
17.4<body>
<large>
<br><b>Date/Time</b>: 2021/04/13 15:11:19<br>
<hr style=border-top: dashed 2px; />
<blockquote>
<br><table border=1>
<tr>
<th>Severity</th>
<th>Message</th>
</tr>
<tr>
<td width=200>Warning</td>
<td width=200>BEGIN LAYER: Anti pad must be defined when a thermal pad is added.</td>
</tr>
<tr>
<td width=200>Warning</td>
<td width=200>DEFAULT INTERNAL: Anti pad must be defined when a thermal pad is added.</td>
</tr>
<tr>
<td width=200>Warning</td>
<td width=200>END LAYER: Anti pad must be defined when a thermal pad is added.</td>
</tr>
</table></br>
</blockquote>
